services:
  db:
    image: postgres:18
    environment:
      POSTGRES_DB: lead_scoring
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 7268
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
